CHATGPT_BASE_URL=https://api.oaipro.com/v1/chat/completions
AUTHORIZATION=sk-xxxxx
MODEL=gpt-4o
SSL=0
MODE=2pass
ROOKIE_HOST=localhost
ROOKIE_PORT=10097
INTERVIEWER_HOST=localhost
INTERVIEWER_PORT=10096
INTERVIEWER_WAIT_TIME=5000
ROOKIE_WAIT_TIME=5000
ROOKIE_DIALOG_LEN=1
CHATGPT_DIALOG_LEN=4
INTERVIEWER_DIALOG_LEN=5
REDIS_HOST=localhost
REDIS_PORT=6379
AGGREGATE_DEVICE_INDEX=12
MIC_DEVICE_INDEX=2
MEILISEARCH_HOST=127.0.0.1
MEILISEARCH_PORT=7700
MEILISEARCH_DEEP=1
RAG_ENABLED=True
INTERVAL_TIME=500
DATA_QUEUE_KEYS=dialog_manager:chatgpt,dialog_manager:interviewer,dialog_manager:rookie
GO_APP_HOST=0.0.0.0
GO_APP_PORT=8080
WS_HOST=127.0.0.1
WS_PORT=8080