CHATGPT_BASE_URL=https://api.oaipro.com/v1/chat/completions
AUTHORIZATION=sk-xxxxx
MODEL=gpt-4o
HOST=localhost
PORT=10096
SSL=0
MODE=2pass
ROOKIE_HOST=localhost
ROOKIE_PORT=10097
INTERVIEWER_HOST=localhost
INTERVIEWER_PORT=10096
INTERVIEWER_WAIT_TIME=5000
ROOKIE_WAIT_TIME=5000
ROOKIE_DIALOG_LEN=1
CHATGPT_DIALOG_LEN=4
INTERVIEWER_DIALOG_LEN=5
REDIS_HOST=localhost
REDIS_PORT=6379
AGGREGATE_DEVICE_INDEX=12
MIC_DEVICE_INDEX=2
