CHATGPT_BASE_URL=https://api.oaipro.com/v1/chat/completions
AUTHORIZATION=sk-xxxxx
MODEL=gpt-4o
SSL=0
MODE=2pass
ROOKIE_HOST=localhost
ROOKIE_PORT=10097
INTERVIEWER_HOST=localhost
INTERVIEWER_PORT=10096
AUDIO_FS=48000
AUDIO_CHANNEL=2
INTERVIEWER_WAIT_TIME=5000
ROOKIE_WAIT_TIME=5000
ROOKIE_DIALOG_LEN=1
CHATGPT_DIALOG_LEN=4
INTERVIEWER_DIALOG_LEN=5
REDIS_HOST=localhost
REDIS_PORT=6379
AGGREGATE_DEVICE_INDEX=12
MIC_DEVICE_INDEX=2
MEILISEARCH_HOST=127.0.0.1
MEILISEARCH_PORT=7700
MEILISEARCH_DEEP=1
RAG_ENABLED=True
INTERVAL_TIME=500
DATA_QUEUE_KEYS=dialog_manager:chatgpt,dialog_manager:interviewer,dialog_manager:rookie
GO_APP_HOST=0.0.0.0
GO_APP_PORT=8080
WS_HOST=127.0.0.1
WS_PORT=8080

# R2 Access Key ID
# This is your R2 account's Access Key ID, used to authenticate API requests.
# R2 Secret Access Key
# This is your R2 account's Secret Access Key, used along with the Access Key ID to authenticate API requests.
# R2 Bucket Name
# The name of the R2 bucket you wish to interact with. This is where your data will be stored.
# R2 Region
# The region where your R2 bucket is located. For example, 'us-west-1'.
# R2 Endpoint URL
# The endpoint URL for accessing the R2 service. This typically includes the protocol and the domain name.
# For example: https://your-endpoint-url.com
# R2 Custom Domain
# If you have a custom domain configured for accessing your R2 bucket, specify it here. 可以和R2 Endpoint URL相同
R2_ACCESS_KEY_ID=your-access-key-id-here
R2_SECRET_ACCESS_KEY=your-secret-access-key-here
R2_BUCKET_NAME=your-bucket-name-here
R2_REGION=your-region-here
R2_ENDPOINT_URL=https://your-endpoint-url-here
R2_CUSTOM_DOMAIN=your-custom-domain-here
